.git
.gitignore
.gitattributes
.env
.env.*
!.env.example

node_modules
vendor

public/build
public/hot
public/storage

storage/*.key
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
storage/pail

database/database.sqlite

tests
phpunit.xml
.editorconfig
.vscode
.idea
.fleet
.nova
.zed

Dockerfile
.dockerignore
README.md
